<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p>Username: <%= @user.username %></p>

<h2>Following</h2>
<ul>
  <% for followship in @user.followships %>
    <li>
    <%= followship.following.username %>
    <% if current_user.id == @user.id %>
    <%= link_to "Unfollow", followship, :method => :delete %>
    <% end %>
    </li>
  <% end %>
</ul>

<h2>Followers</h2>
<ul>
  <% for following in @user.inverse_followings %>
    <li>
    <%= following.username %>
    </li>
  <% end %>
</ul>