<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<% @posts.each do |p| %>
  <div class="border col-4 p-2 mx-auto text-center">
    <%= image_tag p.main_image.variant(resize_to_limit: [250, 250]) %>
    <div class="d-block">
    <p>"<%= p.content %>"</p>
    <p>Posted by <%= p.user.firstname %></p>
  </div>
  </div>
<% end %>